/*------------------------------------*\
    #Single-use
\*------------------------------------*/

.u-underline{
	text-decoration: underline !important; 
}

.u-noUnderline{
	text-decoration: none !important;
}

.u-bold{
	text-decoration: bold !important;
}

.u-capitalize{
	text-decoration: capitalize !important;
}

.u-relative{
	position: relative !important;
}

.u-absolute{
	position: absolute !important; 
}

.u-halfWidth{
	width: 50% !important;
}

.u-floatLeft{
	float: left !important;
}

.u-hideOverflow{
	overflow: hidden !important; 
}
